.sidebar_container{
    background: $white;
    &_item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .profile{
        padding: 1.6rem 1rem;
    }
    .profile a{
        text-decoration: none;
        font-size: 1.4rem;
        letter-spacing: 1px;
        color: black;
        cursor: pointer;
        
    }
}